{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}

{{- with .Params.series }}
{{- $seriesName := index . 0 }}
{{- $seriesPages := where (where site.RegularPages "Params.series" "intersect" .) "Permalink" "!=" $.Permalink }}
{{- with $seriesPages }}
<div class="series-nav" style="flex-basis: 100%; margin-top: 10px; font-size: 0.9em; border-left: 3px solid var(--tertiary); padding-left: 12px;">
  <span>{{ i18n "series" | default "Series" }}: <strong>{{ $seriesName }}</strong></span>
  <ul style="margin: 6px 0 0 0; padding-left: 16px; list-style: none;">
    {{- range sort $seriesPages "Params.series_order" "desc" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
</div>
{{- end }}
{{- end }}
